[run]
relative_files = False
omit =
    hodl/plugin/*
    hodl/bot/*
    hodl/broker/*
    hodl/proxy/*
    hodl/simulation/*
    hodl/cli/*
    hodl/tools/*
    hodl/storage.py
    hodl/unit_test.py
    hodl/__version__.py
