*.pyc
*.log
*/*.pyc
.idea/*
.*.swp
.*.swo
*.rdb
*.un~
*.u
log
logs
dist/
static/dist
.tmp
.DS_Store
static/.dist
nohup.out
build
buildDev
_
static/captcha
celerybeat-schedule.db
static/software/pc.rar
static/config.static.json
tags

.vscode
.idea/
bugsnag-sourcemaps*

/config*.toml
/debug*.py
/debug*.json
debug/
*egg-info/
.coverage
htmlcov/
.pdm-python
.python-version
__pypackages__/
cert/
*.db

coverage.xml
demo.html
boot.py
