<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HODL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="background-color:black;">
<div class="container-sm">
    <div class="row mt-2">
        <div class="col">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-store-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-store" type="button" role="tab" aria-controls="pills-store"
                            aria-selected="true">🧺持仓
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders"
                            type="button" role="tab" aria-controls="pills-orders" aria-selected="false">📒订单
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-earning-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-earning" type="button" role="tab" aria-controls="pills-earning"
                            aria-selected="false">💰收益
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-status-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-status" type="button" role="tab" aria-controls="pills-status"
                            aria-selected="false">⚙状态
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-store" role="tabpanel" aria-labelledby="pills-store-tab"
                     tabindex="0">
                    <div>
                        <div class="bg-dark p-3 rounded-2 mb-2">
                            <p>
                                <span class="text-bg-dark fs-5">
                                    待薅价值
                                </span>
                                <a class="link-primary float-end" data-bs-toggle="collapse" href="#moreValue" role="button" aria-expanded="false" aria-controls="moreValue">
                                    更多
                                </a>
                            </p>

                            <div class="row">
                                {% for currency, amount in earning_value %}
                                <div class="col-4">
                                    <div>
                                        <p class="fs-6 text-bg-dark text-center fw-bold mb-0">{{currency}}</p>
                                        <p class="fs-6 text-bg-dark text-center text-warning fw-bold">{{ FMT.pretty_usd(amount, currency=currency, only_int=True) }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="collapse" id="moreValue">
                                <p class="text-bg-dark fs-5">持有价值</p>
                                <div class="row">
                                    {% for currency, amount in hodl_value %}
                                    <div class="col-4">
                                        <div>
                                            <p class="fs-6 text-bg-dark text-center fw-bold mb-0">{{currency}}</p>
                                            <p class="fs-6 text-bg-dark text-center text-warning fw-bold">{{ FMT.pretty_usd(amount, currency=currency, only_int=True) }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <p class="text-bg-dark fs-5">卖出价值</p>
                                <div class="row">
                                    {% for currency, amount in sell_value %}
                                    <div class="col-4">
                                        <div>
                                            <p class="fs-6 text-bg-dark text-center fw-bold mb-0">{{currency}}</p>
                                            <p class="fs-6 text-bg-dark text-center text-warning fw-bold">{{ FMT.pretty_usd(amount, currency=currency, only_int=True) }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="rounded-2">
                            <ul class="list-group list-group-item-dark list-group-flush">
                                {% for store in store_list %}
                                    {% set state = store.state %}
                                    {% set store_config = store.store_config %}
                                    {% set total_chips = state.plan.total_chips %}
                                    {% set row_tool = ProfitRowTool(store=store) %}
                                    <li class="list-group-item list-group-item-dark text-bg-dark border-secondary">
                                        <p class="mb-0 mt-2">
                                            <span class="fs-4">{{ store_config.name }}</span>
                                            {% if state.quote_rate is not none %}
                                            <span class="fs-6 fw-bold {{ 'text-success' if state.quote_rate >= 0 else 'text-danger' }}">
                                                {{ FMT.pretty_price(state.quote_latest_price, config=store_config) + '(%+.2f%%)'|format(state.quote_rate * 100) }}
                                            </span>
                                            {% endif %}
                                        </p>
                                        <p class="mb-0">[{{ store_config.region }}]{{ store_config.symbol }}<span class="text-muted ms-2">交易通道: {{ store.broker_display }}</span></p>
                                        <p class="text-muted fs-6">{{ FMT.pretty_dt(state.quote_time, region=store_config.region, with_year=True, with_tz=True)[:27] }}</p>
                                        <p>
                                            {% for bar in store.primary_bar() %}
                                            <span class="badge bg-secondary" {{ bar.tooltip_attr|safe }}>{{ bar.content }}</span>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            {% for bar in store.secondary_bar() %}
                                            <span class="badge bg-secondary" {{ bar.tooltip_attr|safe }}>{{ bar.content }}</span>
                                            {% endfor %}
                                        </p>
                                        {% for bar in store.warning_alert_bar() %}
                                            <div class="alert alert-warning" role="alert" style="padding: 4px;">
                                              🚫{{ bar }}
                                            </div>
                                            <span class="badge bg-secondary" {{ bar.tooltip_attr|safe }}>{{ bar.content }}</span>
                                        {% endfor %}
                                        <p>
                                            {% if row_tool.has_table %}
                                                <a class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse"
                                                   role="button" aria-expanded="false"
                                                   href="#report-{{ store_config.broker }}-{{ store_config.symbol }}"
                                                   aria-controls="report-{{ store_config.broker }}-{{ store_config.symbol }}"
                                                >更多({{ row_tool.filled_level }}/{{ row_tool.rows|length }})</a>
                                                <div class="collapse" id="report-{{ store_config.broker }}-{{ store_config.symbol }}">
                                                    <div class="table-responsive-md">
                                                      <table class="table table-striped table-hover table-dark align-middle table-sm">
                                                        <caption>
                                                            {% if row_tool.buy_percent %}
                                                            <span>
                                                                距买回价 {{ FMT.factor_to_percent(row_tool.buy_percent, fmt="{:.1%}") }};
                                                            </span>
                                                            {% endif %}
                                                            {% if row_tool.sell_percent %}
                                                            <span>
                                                                距下次卖出 {{ FMT.factor_to_percent(row_tool.sell_percent, fmt="{:.1%}") }};
                                                            </span>
                                                            {% endif %}
                                                            {% set cog = state.plan.cog(precision=store_config.precision) %}
                                                            {% if cog is not none %}
                                                            <span>
                                                                卖出部分均价 {{ FMT.pretty_price(cog, config=store_config) }};
                                                            </span>
                                                            {% endif %}
                                                        </caption>
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" class="text-end">#</th>
                                                            <th scope="col">状态</th>
                                                            <th scope="col" class="text-end">卖出价</th>
                                                            <th scope="col" class="text-end">卖出比</th>
                                                            <th scope="col" class="text-end">买回价</th>
                                                            <th scope="col" class="text-end">预测收益</th>
                                                            <th scope="col" class="text-end d-none d-sm-table-cell">收益/本金</th>
                                                        </tr>
                                                        </thead>
                                                          <tbody>
                                                          {% for row in row_tool.rows %}
                                                            {% set earning_forecast = row_tool.earning_forecast(row.total_rate) %}
                                                            <tr>
                                                                <th scope="row" class="text-end">{{ loop.index }}</th>
                                                                {% if row_tool.filled_level >= loop.index %}
                                                                    <td>✅</td>
                                                                {% else %}
                                                                    <td>⏳</td>
                                                                {% endif %}
                                                                <td class="text-end">
                                                                    {{ FMT.pretty_price(row.sell_at, config=store_config) }}
                                                                </td>
                                                                <td class="text-end">
                                                                    {{ FMT.factor_to_percent(row.shares / total_chips, fmt="{:.1%}") }}
                                                                </td>
                                                                <td class="text-end">
                                                                    {{ FMT.pretty_price(row.buy_at, config=store_config) }}
                                                                </td>
                                                                <td class="text-end">
                                                                    {{ FMT.pretty_price(earning_forecast, config=store_config, only_int=True) }}
                                                                </td>
                                                                <td class="text-end d-none d-sm-table-cell">
                                                                    {{ '%.2f%%'|format(row.total_rate * 100 - 100) }}
                                                                </td>
                                                            </tr>
                                                          {% endfor %}
                                                          </tbody>
                                                      </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab"
                     tabindex="0">
                    <nav id="navbar-order" class="navbar bg-dark px-3 mb-3">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#currentOrders">有效订单</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#orderYtd">全年概况</a>
                            </li>
                        </ul>
                    </nav>
                    <div data-bs-spy="scroll" data-bs-target="#navbar-order" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="bg-dark p-3 rounded-2" tabindex="0">
                        <h4 id="currentOrders" class="text-bg-dark">有效订单</h4>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="table-responsive-md">
                                    <table class="table table-striped table-hover table-dark align-middle table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-end">#</th>
                                            <th scope="col">时间</th>
                                            <th scope="col">标的</th>
                                            <th scope="col">方向</th>
                                            <th scope="col" class="text-end">订单价</th>
                                            <th scope="col" class="text-end d-none d-sm-table-cell">订单量</th>
                                            <th scope="col" class="text-end d-none d-sm-table-cell">成交价</th>
                                            <th scope="col" class="text-end d-none d-sm-table-cell">成交量</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set state_list = store_list|map(attribute='state') %}
                                        {% set plan_list = state_list|map(attribute='template_plan') %}
                                        {% set order_list = plan_list|map(attribute='orders')|sum(start=[]) %}
                                        {% set orders = order_list|sort(attribute="create_timestamp", reverse=True) %}
                                        {% for order in orders %}
                                        <tr>
                                            <th scope="row" class="text-end">{{ order.order_emoji }}</th>
                                            <td class="font-monospace">
                                                <span class="badge bg-secondary">{{ FMT.pretty_dt(order.create_timestamp, region=order.region,
                                                    with_year=True, with_tz=False)[2:10] }}</span>
                                                <span class="badge bg-secondary">{{ FMT.pretty_dt(order.create_timestamp, region=order.region,
                                                    with_year=True, with_tz=False)[11:-10] }}</span>
                                            </td>
                                            <td>[{{ order.region }}]{{ order.symbol }}</td>
                                            <td>{{ order.direction }}#{{ order.level }}</td>
                                            <td class="text-end">{{ FMT.pretty_usd(order.limit_price, currency=order.currency, precision=order.precision) if order.order_type == 'limit' else '市价' }}</td>
                                            <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_number(order.qty) }}</td>
                                            <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_usd(order.avg_price, currency=order.currency, precision=order.precision) }}</td>
                                            <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_number(order.filled_qty) }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <h4 id="orderYtd" class="text-bg-dark">全年概况</h4>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div id="orderGridYtd" style="opacity: 0.4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-earning" role="tabpanel" aria-labelledby="pills-earning-tab" tabindex="0">
                    <nav id="navbar-earning" class="navbar bg-dark px-3 mb-3">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#totalEarning">总收益</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#monthlyEarning">按月统计</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sumBySymbol">按标的统计</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#earningRecent">近期获利</a>
                            </li>
                        </ul>
                    </nav>
                    <div data-bs-spy="scroll" data-bs-target="#navbar-earning" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="bg-dark p-3 rounded-2" tabindex="0">
                        <h4 id="totalEarning" class="text-bg-dark">总收益</h4>
                        <div class="row">
                            {% for currency, amount in total_earning %}
                            <div class="col-4 mb-3">
                                <div>
                                    <p class="fs-5 text-bg-dark text-center fw-bold mb-0">{{currency}}</p>
                                    <p class="fs-3 text-bg-dark text-center text-warning fw-bold">{{ FMT.pretty_usd(amount // 100 * 100, currency=currency, only_int=True) }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <h4 id="monthlyEarning" class="text-bg-dark">按月统计</h4>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div id="monthlyEarnings"></div>
                            </div>
                        </div>
                        <h4 id="sumBySymbol" class="text-bg-dark">按标的统计</h4>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div id="sumBySymbols"></div>
                            </div>
                        </div>
                        <h4 id="earningRecent" class="text-bg-dark">近期获利</h4>
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for earning in earning_list %}
                            <div class="col">
                            <div class="card border-0 text-bg-dark h-100">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <span class="fs-3 fw-bold {{ earning.style }}">
                                            {{ FMT.pretty_usd(earning.amount, currency=earning.currency, only_int=True) }}
                                        </span>
                                        <span>[{{ earning.region }}]{{ earning.symbol }}</span>
                                    </p>
                                    <p class="mb-0 text-muted">完成日期: {{ earning.date }}</p>
                                    <p class="mb-0 text-muted">买回价格: {{ FMT.pretty_usd(earning.buyback_price, currency=earning.currency) }}</p>
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-status" role="tabpanel" aria-labelledby="pills-status-tab"
                     tabindex="0">
                    <div>
                        <ul class="list-group list-group-item-dark list-group-flush">
                            {% for thread_mixin in threads if thread_mixin.current_thread %}
                                {% set thread = thread_mixin.current_thread %}
                                <li class="list-group-item list-group-item-dark text-bg-dark border-secondary">
                                    <p class="mt-2">
                                        <span class="fs-5">{{ '🧵' if thread.is_alive() else '💀' }}</span>
                                        <span class="fs-5">{{ thread.name }}</span>
                                    </p>
                                    <p>
                                        {% for bar in thread_mixin.primary_bar() %}
                                        <span class="badge bg-secondary" {{ bar.tooltip_attr|safe }}>{{ bar.content }}</span>
                                        {% endfor %}
                                    </p>
                                    <p>
                                        {% for bar in thread_mixin.secondary_bar() %}
                                        <span class="badge bg-secondary" {{ bar.tooltip_attr|safe }}>{{ bar.content }}</span>
                                        {% endfor %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.5"></script>
<script type="module">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    const orderTimesYtd = {{ order_times_ytd|safe }}
    const earnings = {{ earning_json|safe }}

    function currency_color(i) {
        let currency = i.currency;
        if(currency==='USD'){
            return "#198754";
        }
        else if(currency==='CNY'){
            return "#dc3545";
        }
        else if(currency==='HKD'){
            return "#dc3545";
        }
        else{
            return "#198754";
        }
    }

    function to_date(i) {
        let day = i.day.toString();
        return `${day.slice(0,4)}-${day.slice(4,6)}-${day.slice(6,8)}`;
    }

    function to_month(i) {
        let day = i.day.toString();
        return `${day.slice(0,4)}-${day.slice(4,6)}-1`;
    }

    function to_region_symbol(i) {
        return `[${i.region}]${i.symbol}`;
    }

    function amount_sum(i) {
        let unit = i ? i[0].unit : '';
        let amount = i.map(i => i.amount).reduce((j, k) => j + k, 0).toLocaleString('en-US');
        return`${unit}${amount}`;
    }

    const marginLeft = 80;
    const marginRight = 60;
    const height = 400;
    const width = 1200;
    const style = {
        backgroundColor: "#212529",
        color: "#ffffff",
        fontSize: 12,
    };
    const color = {
        legend: true
    };

    let orderGridYtd = Plot.plot({
        style,
        height: 90,
        x: {
            axis: null,
            padding: 0,
        },
        y: {
            axis: null,
            padding: 0,
            tickFormat: Plot.formatWeekday("en", "narrow"),
            tickSize: 0
        },
        fy: {
            reverse: true
        },
        color: {
            type: "linear",
            scheme: "blues"
        },
        marks: [
            Plot.cell(orderTimesYtd, {
                x: d => d3.utcWeek.count(d3.utcYear(new Date(d.date)), new Date(d.date)),
                y: d => (new Date(d.date)).getUTCDay(),
                fill: (d, i) => d.v ? -d.v : NaN,
                title: (d, i) => `${d.date}: ${d.v}单`,
                inset: 0.75
            })
        ]
    })
    document.getElementById('orderGridYtd').appendChild(orderGridYtd);

    let monthlyEarnings = Plot.plot({
        marginLeft,
        marginRight,
        height,
        width,
        style,
        color,
        facet: {
            data: earnings,
            y: "currency",
            label: "",
        },
        x: {
            label: "金额",
            tickFormat: "~s",
        },
        y: {
            grid: true,
            label: "",
            transform: i => i ? i.slice(2, 7) : i,
        },
        marks: [
            Plot.barX([3000], {fill: "red", fillOpacity: 0.1}),
            Plot.ruleX([6000], {stroke: "green", strokeWidth: 2, strokeOpacity: 0.4}),
            Plot.ruleX([11000], {stroke: "yellow", strokeWidth: 2, strokeOpacity: 0.4}),
            Plot.barX(earnings, Plot.groupY({x: "sum"}, {x: "amount", y: to_month, fill: currency_color})),
            Plot.text(earnings, Plot.groupY({x: "sum", text: amount_sum}, {x: "amount", y: to_month})),
        ]
    })
    document.getElementById('monthlyEarnings').appendChild(monthlyEarnings);

    let sumBySymbol = Plot.plot({
        marginLeft,
        marginRight,
        height,
        width,
        style,
        color,
        x: {
            label: "金额",
            tickFormat: "~s",
        },
        y: {
            type: "band",
            label: "",
        },
        marks: [
            Plot.barX(earnings.slice(), Plot.groupY({x: "sum"}, {x: "amount", y: to_region_symbol, fill: currency_color})),
            Plot.text(earnings, Plot.groupY({x: "sum", text: amount_sum}, {x: "amount", y: to_region_symbol})),
        ]
    })
    document.getElementById('sumBySymbols').appendChild(sumBySymbol);
</script>
</body>
</html>