<nav id="navbar-order" class="navbar bg-dark px-3 mb-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#currentOrders">有效订单</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#orderYtd">全年概况</a>
        </li>
    </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-order" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="bg-dark p-3 rounded-2" tabindex="0">
    <h4 id="currentOrders" class="text-bg-dark">有效订单</h4>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="table-responsive-md">
                <table class="table table-striped table-hover table-dark align-middle table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="text-end">#</th>
                        <th scope="col">时间</th>
                        <th scope="col">标的</th>
                        <th scope="col">方向</th>
                        <th scope="col" class="text-end">订单价</th>
                        <th scope="col" class="text-end d-none d-sm-table-cell">订单量</th>
                        <th scope="col" class="text-end d-none d-sm-table-cell">成交价</th>
                        <th scope="col" class="text-end d-none d-sm-table-cell">成交量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set state_list = store_list|map(attribute='state') %}
                    {% set plan_list = state_list|map(attribute='template_plan') %}
                    {% set order_list = plan_list|map(attribute='orders')|sum(start=[]) %}
                    {% set orders = order_list|sort(attribute="create_timestamp", reverse=True) %}
                    {% for order in orders %}
                    <tr>
                        <th scope="row" class="text-end">{{ order.order_emoji }}</th>
                        <td class="font-monospace">
                            <span class="badge bg-secondary">{{ FMT.pretty_dt(order.create_timestamp, region=order.region,
                                with_year=True, with_tz=False)[2:10] }}</span>
                            <span class="badge bg-secondary">{{ FMT.pretty_dt(order.create_timestamp, region=order.region,
                                with_year=True, with_tz=False)[11:-10] }}</span>
                        </td>
                        <td>[{{ order.region }}]{{ order.symbol }}</td>
                        <td>{{ order.direction }}#{{ order.level }}</td>
                        <td class="text-end">{{ FMT.pretty_usd(order.limit_price, currency=order.currency, precision=order.precision) if order.order_type == 'limit' else '市价' }}</td>
                        <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_number(order.qty) }}</td>
                        <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_usd(order.avg_price, currency=order.currency, precision=order.precision) }}</td>
                        <td class="text-end d-none d-sm-table-cell">{{ FMT.pretty_number(order.filled_qty) }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h4 id="orderYtd" class="text-bg-dark">全年概况</h4>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div id="orderGridYtd" style="opacity: 0.4"></div>
        </div>
    </div>
</div>
